@import "slick.css";
@import "slick-theme.css";
@import "select2.min.css";
@import "contactus.scss";
@import "requisites.scss";
@import "aboutus.scss";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "cropperjs";
@import "magnific-popup";
@import "search.scss";
@import "style";
@import "forms";
@import "alert";
@import "popup";
@import "item";
@import "paginator";
@import "buttons";

.card{
  background: #fff;
  border: 1px solid hsla(0,0%,63%,.4);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 20px;
  position: relative;
  max-width: 365px;
  width: 100%;
  margin-top: 30px;
  .delivery-text{
    margin-left: 5px;
      &:before{
        content: '';
        position: absolute;
        top: 22px;
        left: 2px;
        width: 16px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2220%22%20viewBox%3D%220%200%2016%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M2.55003%204.91387L7.32535%202.28771C7.74544%202.05668%208.25453%202.05668%208.67462%202.28771L13.4499%204.91387C13.7276%205.06657%2013.7259%205.46614%2013.447%205.61648L8.66419%208.19413C8.24958%208.41758%207.75039%208.41758%207.33578%208.19413L2.55301%205.61648C2.27406%205.46614%202.27236%205.06657%202.55003%204.91387ZM1.5%207.18787C1.5%206.88578%201.82202%206.69272%202.08847%206.83505L6.58256%209.2357C7.03831%209.47916%207.32292%209.95386%207.32292%2010.4706V15.9933C7.32292%2016.2991%206.99358%2016.4918%206.72694%2016.342L2.21409%2013.8057C1.773%2013.5578%201.5%2013.0912%201.5%2012.5852V7.18787ZM9.26425%2016.3628C8.9978%2016.5052%208.67578%2016.3121%208.67578%2016.01V10.6127C8.67578%2010.1067%208.94879%209.6401%209.38987%209.39221L13.9027%206.85592C14.1694%206.70606%2014.4987%206.89876%2014.4987%207.20462V12.7273C14.4987%2013.244%2014.2141%2013.7187%2013.7583%2013.9622L9.26425%2016.3628Z%22%20fill%3D%22url(%23paint0_linear_79_319)%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_79_319%22%20x1%3D%2214.8408%22%20y1%3D%228.4541%22%20x2%3D%221.48295%22%20y2%3D%228.9674%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23D3D2DA%22%2F%3E%0A%3Cstop%20offset%3D%220.880582%22%20stop-color%3D%22%23BFBFC9%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
      }
  }

  .date-text{
    margin-left: 5px;
    &:before{
      content: '';
      position: absolute;
      top: 44px;
      left: 3px;
      width: 16px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2220%22%20viewBox%3D%220%200%2016%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M2.74248%207.90002C2.29575%207.90002%201.93359%208.2582%201.93359%208.70002V15.5C1.93359%2015.9419%202.29575%2016.3%202.74248%2016.3H5.44915C5.96461%2016.3%206.38248%2015.8822%206.38248%2015.3667V13.1C6.38248%2012.6582%206.74463%2012.3%207.19137%2012.3H8.80915C9.25589%2012.3%209.61804%2012.6582%209.61804%2013.1V15.3667C9.61804%2015.8822%2010.0359%2016.3%2010.5514%2016.3H13.258C13.7048%2016.3%2014.0669%2015.9419%2014.0669%2015.5V8.70002C14.0669%208.2582%2013.7048%207.90002%2013.258%207.90002H2.74248Z%22%20fill%3D%22url(%23paint0_linear_79_1186)%22%2F%3E%0A%3Cpath%20d%3D%22M12.7913%204.16669H3.05091C2.62781%204.16669%202.25655%204.4503%202.14295%204.86031L1.06737%208.7423C0.793941%209.72914%201.37658%2010.7891%202.38499%2010.6463C3.3833%2010.5049%204.37242%2010.0092%204.96741%209.06533C5.1113%208.83705%205.46993%208.81724%205.60551%209.05062C6.68633%2010.9112%209.36564%2010.9923%2010.5061%209.16804C10.6606%208.9208%2011.0711%208.99128%2011.2086%209.24854C11.6265%2010.0306%2012.4164%2010.4511%2013.2776%2010.6589C14.464%2010.9452%2015.2886%209.68299%2014.9049%208.51791L13.686%204.81671C13.5583%204.42866%2013.1976%204.16669%2012.7913%204.16669Z%22%20fill%3D%22url(%23paint1_linear_79_1186)%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_79_1186%22%20x1%3D%2214.3862%22%20y1%3D%2211.625%22%20x2%3D%221.94563%22%20y2%3D%2212.3845%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23D9D8E0%22%2F%3E%0A%3Cstop%20offset%3D%220.880582%22%20stop-color%3D%22%23C8C8D1%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint1_linear_79_1186%22%20x1%3D%2215.8166%22%20y1%3D%226.68807%22%20x2%3D%221.67633%22%20y2%3D%2211.2867%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23C4C4CC%22%2F%3E%0A%3Cstop%20offset%3D%220.880582%22%20stop-color%3D%22%23A5A5AD%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
    }
  }
}
