.buttons-1{
    align-items: end;
    .d-flex{
        span{
            font-size: 12px;
        }

        .load-form-file-form{
            .green-btn{
                &.product-btn1{
                    min-width: 135px !important;
                    width: 135px !important;
                    display: flex;
                    padding: 0px;
                    justify-content: center;
                    align-content: center;
                    height: 30px;
                    font-size: 12px;
                    align-items: center;
                }

            }
        }
    }

    .load-form-file-form{
        .green-btn{
            &.product-btn1{
                min-width: 135px !important;
                width: 135px !important;
                display: flex;
                padding: 0px;
                font-size: 12px;
                justify-content: center;
                align-content: center;
                height: 30px;
                align-items: center;
            }

        }
    }



    .green-btn{
        &.product-btn1{
            min-width: 135px !important;
            width: 135px !important;
            display: flex;
            font-size: 12px;
            padding: 0px;
            justify-content: center;
            align-content: center;
            height: 30px;
        }

    }
}

@import url("https://fonts.googleapis.com/css?family=Lato");

$background: green;
$file-upload-color: green;
$file-upload-size: 100px;

.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
    margin-top: 30px;
    //border: 1px solid #ccc;
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative;
    margin-bottom: 5px;
    //border: 1px solid #ccc;
}
.file-upload-input {
    width: 100%;
    color: #000000;
    font-size: 16px;
    border: none;
    cursor: none;
    @include transition(all 0.2s ease-in);
    float: left; /* IE 9 Fix */
    &:hover, &:focus {
        outline: none;
    }
}
.file-upload-button {
    margin-top: 5px;
    cursor: pointer;
    background: #37c155;
    border-radius: 8px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 19px 8px;
    text-align: center;
    @include transition(all 0.2s ease-in);
    &:hover {

    }
}
